pre, xmp, code {position: relative;  white-space: -moz-pre-wrap; white-space: -pre-wrap; white-space: -o-pre-wrap; word-wrap: break-word; word-wrap: break-all; overflow-x: auto; font-family: Monaco, "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important}
.syntax{border: 1px solid #e1e1e8; font-size:15px; font-family: Monaco, "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important}
.syntax{width:auto;background-color:#f7f7f9;padding:8px 15px; padding-top: 25px; border-left:4px solid #4CAF50; word-wrap:break-word}
.syntax{margin-top:16px!important;margin-bottom:16px!important}
.syntax-toolbar {margin-bottom: -17px; position: relative; background: #eee; color: #222; right:0; border-left:4px solid #4CAF50; padding:8px 12px;}

.js, .css, .html, .php, .python, .sql {border: 1px solid #e1e1e8; font-size:15px; font-family: Monaco, "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace !important}
.js, .css, .html, .php, .python, .sql {width:auto;background-color:#f7f7f9;padding:8px 15px; padding-top: 25px; border-left:4px solid #4CAF50; word-wrap:break-word}
.js, .css, .html, .php, .python, .sql {margin-top:16px!important;margin-bottom:16px!important}

   .om-tag  {color: #7D2727;}
   .om-tagname {color: #7D2727;}
   .om-attribute {color: #c7254e;}
   .om-attributevalue {color: mediumblue;}
   .om-comment {color: #008200;}
   .om-cssselector {color: #000;}
   .om-cssproperty {color: #c7254e;}
   .om-csspropertyvalue {color: #0F74BD;}
   .om-cssdelimiter {color: black;}
   .om-cssimportant {color: #c7254e;  }
   .om-jscolor {color: black;}
   .om-jskeyword {color: #006699; font-weight:bold;}
   .om-jsstring {color: #d14;}
   .om-jsnumber {color: #c7254e;}
   .om-jsproperty {color: mediumblue;}
   .om-phptag {color: #c7254e;}
   .om-php {color: black;}
   .om-phpkeyword {color: #0F74BD;}
   .om-phpglobal {color: goldenrod;}
   .om-phpstring {color: #d14;}
   .om-phpnumber {color: #c7254e; } 
   .om-python {color: black;}
   .om-pythonkeyword {color: #0F74BD;}
   .om-pythonstring {color: #d14;}
   .om-pythonnumber {color: #c7254e;  }
   .om-angularstatement {color: #c7254e;}
   .om-sql {color: black;}
   .om-sqlkeyword {color: #0F74BD;}
   .om-sqlstring {color: #d14;}
   .om-sqlnumbercolor {color: #000; } 
